<div class="demo-classes">
    <div class="demo-classes-items" style="background-image: url('../images/homepage/demo-classes/c.png');
    background-repeat: no-repeat; background-position: center;"><a href="">
          <div class="demo-img"></div>Compelete C Language From Beginner to Advance
       </a><p id="course-para">Price : Free with registration</p></div>
    <div class="demo-classes-items" style="background-image: url('../images/homepage/demo-classes/java.jpg');
    background-repeat: no-repeat;"><a href="">
          <div class="demo-img"></div>Java Programming Course to becom an Expert!!
       </a><p id="course-para">Price : Free with registration</p></div>
    <div class="demo-classes-items" style="background-image: url('../images/homepage/demo-classes/python.png');
    background-repeat: no-repeat; background-position: center;"><a href="">
          <div class="demo-img"></div>Python Programming
       </a><p id="course-para">Price : Free with registration</p></div>
    <div class="demo-classes-items" style="background-image: url('../images/homepage/demo-classes/javascript.jpg');
    background-repeat: no-repeat; background-position: center;"><a href="">
          <div class="demo-img"></div>Learn Javascript of Modern industry
       </a><p id="course-para">Price : Free with registration</p></div>

 </div>