
    <div class="navbar">
        <span class="span1"></span>
        <ul class="container">
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li>About</li>
        </ul>
        <button ><a href="/registration" style="color: #ffffff;">Join Now</a></button>
        <button style="background-color: rgb(35, 35, 35);" id="login"><a href="/login" style="color: #ffffff; ">Login</a></button>
    </div>
