<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/header.css">
   <link rel="stylesheet" href="css/index.css">
   <title>Document</title>
</head>

<body>
   <%-include('header')%>
      <div class="para">Enhance Your <span class="para-color">Programming </span>Skill To Propel Your <span
            class="para-color">Career</span> Forward.</div>
      <div class="side-image"></div>
      <p class="demo-classes-para">Click below to watch our demo classes for free.</p>
      <%-include('courseBox')%>
</body>

</html>