<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <div class="main">
            <h1>Login</h1>
            <ul class="container">
              
                <li><label for="email">Email</label>
                    <input type="email" name="email" style="margin-left:9.4vh ;">
                </li>
              
                <li><label for="password">Passowrd</label>
                    <input type="password" name="password" style="margin-left:4vh ;">
                </li>
            </ul>
            <button type="submit" >Login</button>
            <p style="margin-top: 1vh;">Click here to <a href="/registration">register.</a></p>
        </div>
    </form>

</body>
</html>