.demo-classes{

    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 75vw;
    height: 100vh;
    margin: auto;
    margin-top: 2vh;
 }
 .demo-classes-items{
    border-radius: 2vh;
    
    width: 16vw;
    height: 33vh;
    background-color: white;
    
    font-weight: bold;
    font-size: large;
margin-top: 10vh;
    
 }
 .demo-img{
    width: 17vw;
    height: 29vh;
    background-position: center;  
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);  
 }
 #course-para{
    font-size: medium;
    font-weight: 400;
 }