/* css file for registration page */
* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body {
    background-color: rgb(237, 237, 237);
}

.main {
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: 35vh;
    text-align: center;
    border-radius: 1vh;
    margin-top: 3vh;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.container {

    height: 35%;
    margin: auto;
margin-top: 2vh;

    list-style-type: none;

    font-size: larger;

}

li input {
    border-radius: 1vh;
    width: 15vw;
    height: 3vh;
    background-color: rgb(255, 255, 255);
    border: grey 1px solid;
    /* margin-top: 2vh; */
}

li input:hover {
    border-color: rgb(63, 63, 255);
}

li label {
    font-size: 3vh;
    /* margin-top: 2vh; */
    color: rgba(0, 0, 0, 0.77)
}

button {
    width: 6.5vw;
    height: 4.7vh;
    font-size: 2.5vh;
margin-top: 1vh;
    background-color: #585bc3;
    color: white;
    border: none;
    border-radius: 2vh;
}

h1 {
    color: #585bc3;
    ;
    text-align: center;
}

.select-user{
    display: flex;
    
    justify-content: center;
}
.select-user-label{
    width: 100%;
    font-size: larger;
    height: 5vh;
    border-bottom: 1px solid grey;
}

#op1:checked+label{
  border: 1px solid #585bc3;
  color: #585bc3;
}
#op2:checked+label{
  border: 1px solid #585bc3;
  color: #585bc3;
}