<h1>Enrolled Courses</h1>
    <div class="course-container">

        <div class="course-box">
            <div class="img"></div>
            <p>Javascript course wiht benefits of workload</p>
            <div class="course-box-para">Jack</div>
            <button>Start Course</button>
        </div>
        
        <div class="course-box">
            <div class="img"></div>
            <p>Javascript course wiht benefits of workload</p>
            <div class="course-box-para">Jack</div>
            <button>Start Course</button>
        </div>
        
        <div class="course-box">
            <div class="img"></div>
            <p>Javascript course wiht benefits of workload</p>
            <div class="course-box-para">Jack</div>
            <button>Start Course</button>
        </div>
        
        <div class="course-box">
            <div class="img"></div>
            <p>Javascript course wiht benefits of workload</p>
            <div class="course-box-para">Jack</div>
            <button>Start Course</button>
        </div>
        
        
       
        
    </div>
