
    <div class="container-user-info">
        <div class=" box1">
            <div class="circle" style="margin-top: 1vh;"></div>
            <h2><%-name%></h2>
            <h4><%-email%></h4>
        </div>
        <ul class="box box2 box-list">
           
            <li class="box-items">My Learning</li>
            
            <li class="box-items">My Cart</li>
        </ul>
        <ul class="box box3 box-list">
            <li class="box-items">Logout</li>
            
        </ul>
        
    </div>
