
   <Table>
    <tr>
        
        <th>Student Name</th>
        <th>Email</th>
        <th>Enrolled Courses</th>
        <th>Join Date</th>
    </tr>
    <tr>
        <td>Shakir</td>
        <td>Shakir@gmai.com</td>
        <td>c,c++,python</td>
        <td>12/09/2024</td>
    </tr>
   
    
   </Table>

