<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="css/partial/header.css">
    <link rel="stylesheet" href="css/partial/courses.css">
    <link rel="stylesheet" href="css/partial/course-box-random.css">
  
    <title>Document</title>
</head>
<body>
    <%-include('header')%>
    
    <div class="course-main-container" style="margin-top: 3vh;"><%-include('../user/course-box-random')%></div>
 
</body>
</html>