
<div class="navbar">
    
    <ul class="container-header-login">
        <li><a href="/">Home</a></li>
        <li><a href="/courses">Courses</a></li>
        <li>About</li>
        <li class="header-login-search" ><input type="search" placeholder="search for anything "></li>
        <li class="fa-solid fa-user-large"></li>
    </ul>
    
</div>
