
    <div class="navbar-header">
        <span class="span1"></span>
        <ul class="container-header">
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li>About</li>
            <li class="header-login-search" ><input type="search" placeholder="search for anything "></li>
        </ul>
        <button class="header-button"><a href="/registration" style="color: #ffffff;" >Join Now</a></button>
        <button class="header-button" style="background-color: rgb(35, 35, 35);" id="login"><a href="/login" style="color: #ffffff; " >Login</a></button>
    </div>
